<table cellpadding="5">
<tbody>
<tr>
<td style='text-align: center;' colspan='6'>'wizardname'&nbsp;</td>
</tr>
<tr>
<td>Energy&nbsp;</td>
<td>'energy'&nbsp;</td>
<td>'energytime'&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Dimensional Rifts&nbsp;</td>
<td>'riftcrystals'&nbsp;</td>
</tr>
<tr>
<td>Wings&nbsp;</td>
<td >'wings'&nbsp;</td>
<td >'wingstime'&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Social Points&nbsp;</td>
<td >'socialpoints'&nbsp;</td>
</tr>
<tr>
<td>Mana&nbsp;</td>
<td >'mana'&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Glory Points&nbsp;</td>
<td >'honorpoints'&nbsp;</td>
</tr>
<tr>
<td>Crystals&nbsp;</td>
<td >'crystals'&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Guild Points&nbsp;</td>
<td >'guildpoints'&nbsp;</td>
</tr>
</tbody>
</table>
<hr />
<p >'output'&nbsp;</p>