<table cellpadding="5">
<tbody>
<tr>
<td style='text-align: center;' colspan='6'>Orion304 Lvl. 50&nbsp;</td>
</tr>
<tr>
<td>Energy&nbsp;</td>
<td>23 / 90&nbsp;</td>
<td>0:11&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Dimensional Rifts&nbsp;</td>
<td>0 / 10&nbsp;</td>
</tr>
<tr>
<td>Wings&nbsp;</td>
<td >2 / 10&nbsp;</td>
<td >19:42&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Social Points&nbsp;</td>
<td >810 / 3000&nbsp;</td>
</tr>
<tr>
<td>Mana&nbsp;</td>
<td >1.300.125&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Glory Points&nbsp;</td>
<td >626&nbsp;</td>
</tr>
<tr>
<td>Crystals&nbsp;</td>
<td >6.622&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>Guild Points&nbsp;</td>
<td >3.473&nbsp;</td>
</tr>
</tbody>
</table>
<p >GetArenaUnitList&nbsp;</p><p>BattleArenaStart&nbsp;</p><p>BattleArenaResult&nbsp;</p><p>GetArenaWizardList&nbsp;</p><p>GetArenaUnitList&nbsp;</p><p>BattleArenaStart&nbsp;</p><p>BattleArenaResult&nbsp;</p><p>&nbsp;</p>